<!DOCTYPE html>
<html>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <head>
        <title>
            Angular Strings
        </title>
    </head>
    <body>

        <div ng-app="myApp" ng-controller="myController">
            <input type="text" ng-model="filterValue"/>
            <ul>
                <li ng-repeat="x in names | filter : filterValue">
                    {{x}}
                </li>
            </ul>
        </div>
    </body>
    <script>
    var app = angular.module("myApp",[]);
    app.controller("myController",function($scope){
        $scope.names=["mani","test","admin","user","fakir","mustafa"];
    });
    
    </script>

    </html>